.App {
  text-align: center;
}

.App-logo {
  width: 73%;
}

.App-header {
  background-color: #881b4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}